* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(#ff8000, #ffb266);
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
